    
{% extends 'base.html' %}

{% block content %}
    <div>
        <h1 style="text-align: center;">Уважаемые потребители!</h1>
	<p style="text-align: justify;">Сведения о текущих показаниях приборов учета горячей воды можно
предоставить <b>до 20-го числа текущего месяца,</b> опустив заполненную отрывную часть квитанции в специальные <b>ящики с надписью АО «Газпром теплоэнерго Тольятти»,</b> либо в период с 15 по 21 число на сайте: <a href="http://www.gpte-tlt.ru">www.gpte-tlt.ru.</a></p>
<p><b>Ящики для приема показаний ИПУ расположены по адресам:</b></p>
<ul>
	<li>ул. Липяговская, 5 (ЖЭУ);</li>
	<li>ул. Центральная, 11 (почтовое отделение);</li>
	<li>пер. Сиреневый, 19 А (маг «Светлячок»);</li>
	<li>ул. Воеводина, 65 А (котельная);</li>
</ul>
<h1 style="text-align: center;">Обращаем Ваше внимание!!!</h1>
<p style="text-align: justify;"><b>С 01 июля 2019 года изменится размер платы</b> за коммунальные услуги по
отоплению и горячему водоснабжению, в связи с вступлением в силу новых нормативов
потребления коммунальных ресурсов и новых тарифов согласно Приказам
министерства энергетики и ЖКХ Самарской области № 131 от 20.06.2016г.- (о
нормативах на отопление); № 119 от 16.05.2017г. (о нормативах тепловой энергии
используемой на подогрев воды в целях горячего водоснабжения); № 447 от
26.11.2015г. (о нормативах потребления горячего водоснабжения); № 885 и 886 от
18.12.2018г. (об установлении тарифов на теплоснабжение и горячую воду).</p>
<p style="text-align: justify;"><b>С 01 июля 2019 года</b> размер платы за коммунальную услугу по горячему
водоснабжению, предоставленную потребителю в жилом помещении <b>при отсутствии
индивидуального</b> или общего (квартирного) <b>прибора учета горячей воды,</b> будет рассчитываться исходя из норматива потребления горячей воды с применением
<b>повышающего коэффициента,</b> установленного в размере 1,5 в соответствии с
положениями Правил № 354 от 06.05.2011 года.</p>
<p><b>Абонентская служба АО «Газпром теплоэнерго Тольятти»</b></p>
<p>адрес: г. Самара, ул. Степана Разина, дом 89 каб. 1</p>
<p>тел. 310-96-37, 310-96-43</p>
<h3><b>Прием граждан осуществляется: с понедельника по четверг с 8:00 до 12:00 и с 14:00 до 16:30,</b></h3>
<h2><b>НЕПРИЕМНЫЕ ДНИ: еженедельно -пятница; ежемесячно–с 25 по 31 число.</b></h2>
    </div>
{% endblock %}
