{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h1>Контакты</h1>
        <div class="col-md-4 col-sm-2">
            <h2>Юридический адрес</h2>
            <span style="color: black">Телефон:</span>
            <p>+7 (8482) 48-79-47</p>
            <span style="color: black">Телефон для передачи показаний:</span>
            <p>+7 (846) 310-96-37, 310-96-43</p>
            <span style="color: black">Почтовый адрес:</span>
            <p>443099, г. Самара, ул. Водников, д. 24-26, литера СС1</p>
            <span style="color: black">E-mail:</span>
            <p>office@163.gpte.ru</p>
        </div>
        <div class="col-md-8 col-sm-2">
            <script type="text/javascript" charset="utf-8"
                    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A74a732a928e57ffb2169f33c8d031c9bb04c61346e080b62bd32372d184e80fb&amp;width=674&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
{% endblock %}