
{% extends 'base.html' %}

{% block content %}
    <div class="row" id="fh5co-features">
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Деятельность</h3>
            <p>Газпром теплоэнерго Тольятти входит в крупный энергетический холдинг.</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated"
             onclick="location.href='{% url "indications" %}'">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Показание счетчиков</h3>
            <p>Передача показаний индивидуальных приборов учета</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated" onclick="location.href='{% url "tariff" %}'">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Тарифы</h3>
            <p>Утвержденные тарифы для потребителей АО "Газпром теплоэнерго Тольятти"</p>
        </div>
    </div>
{% endblock %}
