
{% extends 'base.html' %}

{% block content %}
    <div class="row" id="fh5co-features">
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Тарифы</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt porro delectus cum officia magnam.</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Показание счетчиков</h3>
            <p>Передача показаний индивидуальных приборов учета</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box fadeInUp animated">
            <div class="fh5co-feature-icon">
                <i class="ti-layout-media-center-alt"></i>
            </div>
            <h3 class="heading">Тарифы</h3>
            <p>Утвержденные тарифы на 2018 год для потребителей АО "Газпром теплоэнерго Тольятти"</p>
        </div>
    </div>
{% endblock %}