{% extends 'base.html' %}

{% block content %}

    <h1 style="text-align: center">Передача показаний приборов учетов</h1>
<h2 style="text-align: center;">Показания приборов учёта вы можете передать до 20 числа.</h2> 

<form action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label>Лицевой счет</label>
            <input type="text" minlength="13" maxlength="13" name="{{ form.ls.name }}" class="form-control"
                   placeholder="Введите лицевой счет состоящий из 13 чисел">
            <label>ФИО</label>
            <input type="text" name="{{ form.fullName.name }}" class="form-control"
                   placeholder="Например: Иванов Иван Иванович" >
            <label>Адрес</label>
            <input id="address" type="text" name="{{ form.address.name }}" class="form-control"
                   placeholder="Введите адрес:" size="100">
            <label>Период в котором будут учтены переданные показания</label>
            <input type="text" name="{{ form.periud.name}}" id="periud" class="form-control" >
            <label>Показания приборов учёта</label>
            <input type="number" name="{{ form.firstCount.name }}" class="form-control"
                   placeholder="56">
            <label>Показания приборов учёта</label>
            <input type="number" name="{{ form.twoCount.name }}" class="form-control"
                   placeholder="Заполняется если у Вас более одного прибора учета">
            <label>Показания приборов учёта</label>
            <input type="number" name="{{ form.freeCount.name }}" class="form-control"
                   placeholder="Заполняется если у Вас более двух приборов учета">
            <label>Показания приборов учёта</label>
            <input type="number" name="{{ form.forCount.name }}" class="form-control"
                   placeholder="Заполняется если у Вас более трех приборов учета">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>

    <script src="../../static/js/indicationsFormCheck.js"></script>

{% endblock %}
