{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Закупки</h1>
        <p>Информация о проводимых закупочных процедурах размещена на сайте <a href="http://www.zakupki.gov.ru">www.zakupki.gov.ru</a>
            в разделе «Закупки в рамках 223-ФЗ».</p>
        <p><a href="http://www.gazneftetorg.ru/">Актуальные закупки</a></p>
        <p><a href="http://www.gazneftetorg.ru/">Архив</a></p>
        <h3>Нормативные документы</h3>
        <p><a href="http://www.gpte.ru/upload/iblock/Положение о закупках товаров, работ, услуг АО Газпром теплоэнерго.pdf">
            Положение о закупках товаров, работ, услуг АО «Газпром теплоэнерго» </a></p>
        <p><a href="http://www.gpte.ru/upload/Приказ_закупки_у_СМП_апрель_2018.pdf">
            Об утверждении перечня товаров, работ, услуг, закупки которых осуществляются у субъектов малого и среднего
            предпринимательства</a></p>
        <p><a href="http://www.gpte.ru/upload/Перечень товаров, работ, услуг апрель 208.pdf">Перечень товаров, работ, услуг, закупки которых
            осуществляются у субъектов малого и среднего предпринимательства</a></p>
    </div>
{% endblock %}