{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Тарифы</h1>
        <a href="/tariff/npa/Prikaz_190_26_06_2018_GVS_Samara.pdf">Приказ министервства энергетики и жилищно-коммунального хозяйства Самарской области "Об установлении тарифов на горячую воду в открытой и закрытой системах теплоснабжения (горячего водоснабжения) для АО "Газпром теплоэнерго Тольятти" (СЦТ - городского округа Самара) от 26.06.2018 №190"</a>
        <table border="2" class="table-bordered tariffStyle">
            <tr>
                <td colspan="5">
                    <p>Тарифы на горячую воду, поставляемую потребителям АО "Газпром теплоэнерго Тольятти"
                    (СЦТ - городской округ Самара) в открытой системе теплоснабжения (горячего водоснабжения)</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">№п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Год (период)</td>
                <td rowspan="2">Компонент на теплоноситель, руб./куб.м</td>
                <td>Компонент на тепловую энергию</td>
            </tr>
            <tr>
                <td>Одноставочный, руб./Гкал</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Для потребителей (без НДС)</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 № 190</a> по 31.12.2018</td>
                <td>28,67</td>
                <td>1706</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 № 190</a> по 31.12.2018</td>
                <td>33,83</td>
                <td>2013,08</td>
            </tr>
        </table>
        <!-- табле 2 -->

        <table border="2" class="table-bordered tariffStyle">
            <tr>
                <td colspan="5"><p>Тарифы на горячую воду, поставляемую потребителям АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара) в закрытой системе горячего водоснабжения</p></td>
            </tr>
            <tr>
                <td>№п/п</td>
                <td>Наименование регулируемой организации</td>
                <td>Год (период)</td>
                <td>Компонент на теплоноситель, руб./куб.м</td>
                <td>Компонент на тепловую энергию<br>Одноставочный, руб./Гкал</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Для потребителей (без НДС)</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 № 190</a> по 31.12.2018</td>
                <td>15,35</td>
                <td>1706</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 № 190</a> по 31.12.2018</td>
                <td>18,11</td>
                <td>2013,08</td>
            </tr>
        </table>

        <!-- табле 3 -->

        <p><a href="/tariff/npa/Prikaz_191_26_06_2018_Samara.pdf">Приказ министервства энергетики и жидищно-коммунального хозяйства Самарской области "Об установлении тарифов в сфере теплоснабжения АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)" от 26.06.2018 г. № 191</a></p>
        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="11">
                    <p>Тарифы на тепловую энергию, поставляемую потребителям АО "Газпром теплоэнерго Тольятти"
                    (СЦТ - городского округа Самара)</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td rowspan="2">Вода</td>
                <td colspan="4">Отборный пар давлением</td>
                <td rowspan="2">Острый и редуцированный пар</td>
            </tr>
            <tr>
                <td>от 1,2 до 2,5 кг/см</td>
                <td>от 2,5 до 7,0 кг/см</td>
                <td>от 7,0 до 13,0 кг/см</td>
                <td>от свыше 13,0 кг/см</td>
            </tr>
            <tr>
                <td>1</td>
                <td rowspan="4">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td colspan="8">Для потребителей, в случае отсутствия дифференцииции тарифов по схеме подключения
                (без НДС)</td>
            </tr>
            <tr>
                <td>1.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 г. № 191</a> по 31.12.2018 г.</td>
                <td>1706</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan="8">Население (с учетом НДС)*</td>
            </tr>
            <tr>
                <td>2.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06ю2018 г. № 191</a> по 31.12.2018 г.</td>
                <td>2013,08</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табле 4 -->

        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="5">
                    <p>Тарифы на теплоноситель для АО "Газпром теплоэнерго Тольятти" (СЦТ - городского округа Самара)</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td colspan="2">Вид теплоносителя</td>
            </tr>
            <tr>
                <td>вода</td>
                <td>пар</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый теплоснабжающей организацией,
                владеющей источником (источниками) тепловой энергии, на котором производится теплоноситель (без НДС)</td>
            </tr>
            <tr>
                <td>1</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Одноставочный, руб./куб. м</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 г. № 191</a> по 31.12.2018 г.</td>
                <td>28,67</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый потребителям (без НДС)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Одноставочный, руб./куб. м</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 г. № 191</a> по 31.12.2018 г.</td>
                <td>28,67</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td>Одноставочный, руб./куб. м</td>
                <td>Со дня вступления в силу приказа <a href="">от 26.06.2018 г. № 191</a> по 31.12.2018 г.</td>
                <td>33,83</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табле 5 -->

        <p>Приказ <a href="/tariff/npa/Prikaz_843_19_12_2017_Teplo_Samara.pdf">Министервства энергетики и жидищно-коммунального хозяйства Самарской области "Об установлении тарифов в сфере теплоснабжения АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)" от 19.12.2017 г. № 843</a></p>
        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="11">
                    Тарифы на тепловую энергию на коллекторах источника тепловой энергии АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)
                </td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td rowspan="2">Вода</td>
                <td colspan="4">Отборный пар давлением</td>
                <td rowspan="2">Острый и редуцированный пар</td>
            </tr>
            <tr>
                <td>от 1,2 до 2,5 кг/см</td>
                <td>от 2,5 до 7,0 кг/см</td>
                <td>от 7,0 до 13,0 кг/см</td>
                <td>от свыше 13,0 кг/см</td>
            </tr>
            <tr>
                <td>1</td>
                <td rowspan="6">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td colspan="8">Для потребителей, получающих тепловую энергию на коллекторах производителей
                (без НДС)</td>
            </tr>
            <tr>
                <td>1.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>1538</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.2</td>
                <td>одноставочный руб./Гкал</td>
                <td>с 01.07.2018 по 31.12.2018</td>
                <td>1585</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan="8">Население (с учетом НДС)*</td>
            </tr>
            <tr>
                <td>2.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.2</td>
                <td>одноставочный руб./Гкал</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
        </table>

        <!-- табл 6 -->

        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="6">Тарифы на теплоноситель для АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)</td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td colspan="2">Вид теплоносителя</td>
            </tr>
            <tr>
                <td>вода</td>
                <td>пар</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый теплоснабжающей организацией,
                владеющей источником (источниками) тепловой энергии, на котором производится теплоноситель (без НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>27,60</td>
                <td>-</td>
            </tr>
            <tr>
                <td>с 01.07.2018 по 31.12.2018</td>
                <td>28,67</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый потребителям (без НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">2</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>27,60</td>
                <td>-</td>
            </tr>
            <tr>
                <td>с 01.07.2018 по 31.12.2018</td>
                <td>28,67</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">3</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>с 01.01.2018 по 30.06.2018</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>с 01.07.2018 по 31.12.2018</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табл 7 -->

        <p><a href="/tariff/npa/Prikaz_844_19_12_2017_Voda.pdf">Приказ министервства энергетики и жилищно-коммунального хозяйства Самарской области "Об установлении тарифов в сфере водоснабжения АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)" от 19.12.2017 г. № 844</a></p>

        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="5"><p>Тарифы в сфере водоснабжения АО "Газпром теплоэнерго Тольятти", городской округ Тольятти</p></td>
            </tr>
            <tr>
                <td>№ п/п</td>
                <td>Наименование организации</td>
                <td>Наименование товаров и услуг</td>
                <td>Тариф руб./м</td>
                <td>Население, руб./м</td>
            </tr>
            <tr>
                <td rowspan="4">1</td>
                <td rowspan="4">АО "Газпром теплоэнерго Тольятти", городской округ Тольятти</td>
                <td colspan="3">c 01.01.2018 г. по 30.06.2018 г.</td>
            </tr>
            <tr>
                <td>Питьевая вода</td>
                <td>22,77 (без НДС)</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="3">c 01.07.2018 г. по 31.12.2018 г.</td>
            </tr>
            <tr>
                <td>Питьевая вода</td>
                <td>23,69 (без НДС)</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табл 8 -->

        <p><a href="/tariff/npa/Prikaz_845_19_12_2017_Teplo_Povolzhsky.pdf">Приказ министервства энергетики и жилищно-коммунального хозяйства Самарской области "Об корректировки тарифов в сфере теплоснабжения АО "Газпром теплоэнерго Тольятти" (СЦТ - городской округ Самара)" от 19.12.2017 г. № 845</a></p>
        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="10"><p>Тарифы на тепловую энергию на коллекторах источника тепловой энергии АО "Газпром теплоэнерго
        Тольятти", городской округ Тольятти</p></td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td rowspan="2">Вода</td>
                <td colspan="4">Отборный пар давлением</td>
                <td rowspan="2">Острый и редуцированный пар</td>
            </tr>
            <tr>
                <td>от 1,2 до 2,5 кг/см</td>
                <td>от 2,5 до 7,0 кг/см</td>
                <td>от 7,0 до 13,0 кг/см</td>
                <td>от свыше 13,0 кг/см</td>
            </tr>
            <tr>
                <td>1</td>
                <td rowspan="14">АО "Газпром теплоэнерго Тольятти", городской округ Тольятти</td>
                <td colspan="8">Для потребителей, получающих тепловую энергию на коллекторах
                производителей (без НДС)</td>
            </tr>
            <tr>
                <td>1.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2016 по 30.06.2016</td>
                <td>1534</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.2</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2016 по 31.12.2016</td>
                <td>1593</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.3</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2017 по 30.06.2017</td>
                <td>1593</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.4</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2017 по 31.12.2017</td>
                <td>1657</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.5</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2018 по 30.06.2018</td>
                <td>1657</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1.6</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2018 по 31.12.2018</td>
                <td>1657</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan="8">Население (с учетом НДС)</td>
            </tr>
                <td>2.1</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2016 по 30.06.2016</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.2</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2016 по 31.12.2016</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.3</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2017 по 30.06.2017</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.4</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2017 по 31.12.2017</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.5</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.01.2018 по 30.06.2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2.6</td>
                <td>одноставочный руб./Гкал</td>
                <td>c 01.07.2018 по 31.12.2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табл 9 -->
        <br>
        <table class="table-bordered tariffStyle" border="2">
            <tr>
                <td colspan="7"><p>Тарифы на теплоноситель для АО "Газпром теплоэнерго Тольятти", городской округ Тольятти</p></td>
            </tr>
            <tr>
                <td rowspan="2">№ п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Вид тарифа</td>
                <td rowspan="2">Год (период)</td>
                <td colspan="2">Вид теплоносителя</td>
            </tr>
            <tr>
                <td>вода</td>
                <td>пар</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый теплоснабжающей организацией,
                владеющей источником (источниками) тепловой энергии, на котором производится теплоноситель (без НДС)</td>

            </tr>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2016 по 30.06.2016</a></td>
                <td>29,80</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2016 до 31.12.2016</td>
                <td>31,05</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">2</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2017 по 30.06.2017</a></td>
                <td>31,05</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2017 до 31.12.2017</td>
                <td>32,21</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">3</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2018 по 30.06.2018</a></td>
                <td>32,21</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2018 до 31.12.2018</td>
                <td>33,40</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Тариф на теплоноситель, поставляемый потребителям (без НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">4</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2016 по 30.06.2016</a></td>
                <td>29,80</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2016 до 31.12.2016</td>
                <td>31,05</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">5</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2017 по 30.06.2017</a></td>
                <td>31,05</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2017 до 31.12.2017</td>
                <td>32,21</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">6</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2018 по 30.06.2018</a></td>
                <td>32,21</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2018 до 31.12.2018</td>
                <td>33,40</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">7</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2016 по 30.06.2016</a></td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2016 до 31.12.2016</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">8</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2017 по 30.06.2017</a></td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2017 до 31.12.2017</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">9</td>
                <td rowspan="2">АО "Газпром теплоэнеро Тольятти" (СЦТ - городской округ Самара)</td>
                <td rowspan="2">Одноставочный, руб./куб. м</td>
                <td>c 01.01.2018 по 30.06.2018</a></td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2018 до 31.12.2018</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>

        <!-- табле 10 -->

        <p><a href="/tariff/npa/Prikaz_846_19_12_2017_GVS_Povolzhsky.pdf">Приказ министервства энергетики и жилищно-коммунального хозяйства Самарской области "Об корректировки тарифов на горячую воду в закрытой системе горячего водоснабжения для АО "Газпром теплоэнерго Тольятти"", городской округ Тольятти от 19.12.2017 г. № 846</a></p>
        <table border="2" class="table-bordered tariffStyle">
            <tr>
                <td colspan="5">
                    <p>Тарифы на горячую воду, поставляемую потребителям АО "Газпром теплоэнерго Тольятти", городского округа Тольятти</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">№п/п</td>
                <td rowspan="2">Наименование регулируемой организации</td>
                <td rowspan="2">Год (период)</td>
                <td rowspan="2">Компонент на теплоноситель, руб./куб.м</td>
                <td>Компонент на тепловую энергию</td>
            </tr>
            <tr>
                <td>Одноставочный, руб./Гкал</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Для потребителей (без НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="6">АО "Газпром теплоэнерго Тольятти", городского округа Тольятти</td>
                <td>c 01.01.2016 г. по 30.06.2016 г.</td>
                <td>21,04</td>
                <td>1534</td>
            </tr>
            <tr>
                <td>c 01.07.2016 г. до 31.12.2016 г.</td>
                <td>21,92</td>
                <td>1593</td>
            </tr>
            <tr>
                <td rowspan="2">2</td>
                <td>c 01.01.2017 г. по 30.06.2017 г.</td>
                <td>21,92</td>
                <td>1593</td>
            </tr>
            <tr>
                <td>c 01.07.2017 г. до 31.12.2017 г.</td>
                <td>22,77</td>
                <td>1657</td>
            </tr>
            <tr>
                <td rowspan="2">3</td>
                <td>c 01.01.2017 г. по 30.06.2017 г.</td>
                <td>22,77</td>
                <td>1657</td>
            </tr>
            <tr>
                <td>c 01.07.2017 г. до 31.12.2017 г.</td>
                <td>23,69</td>
                <td>1701</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;">Население (с учетом НДС)</td>
            </tr>
            <tr>
                <td rowspan="2">4</td>
                <td rowspan="6">АО "Газпром теплоэнерго Тольятти", городского округа Тольятти</td>
                <td>c 01.01.2016 г. по 30.06.2016 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2016 г. до 31.12.2016 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">5</td>
                <td>c 01.01.2017 г. по 30.06.2017 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2017 г. до 31.12.2017 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">6</td>
                <td>c 01.01.2017 г. по 30.06.2017 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>c 01.07.2017 г. до 31.12.2017 г.</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </div>
{% endblock %}